.u-text-center {
  text-align: center;
}

.u-mb-8 {
  margin-bottom: 8rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.background-gradient-1 {
  background: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-secondary-dark
  );
}
